# Compiled output
/dist
/tmp

# Dependencies
/node_modules
/bower_components

# IDEs and Editors
*.launch
.settings/

# Misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map
